/* Text elements 
----------------------------------------------------------------------------------------*/
p {
  margin: 10px 0 10px 0; }

/* Headings 
----------------------------------------------------------------------------------------*/
h6 {
  font-family: Arial, sans-serif;
  font-size: 1em;
  /* 16px */ }

h7 {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  /* 20px */
  font-weight: bold;
  text-transform: uppercase; }

/* Product Page Styles
----------------------------------------------------------------------------------------*/
.expander_info .divider {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  margin: 0 0 24px 0; }

.product_specs h2 {
  color: #000;
  margin: 26px 0 6px;
  line-height: 1.2em;
  font-size: 2em; }

.product_specs .product_cart h6 {
  text-transform: uppercase;
  font-size: .857em;
  color: #949494;
  margin-top: 10px; }

/* Product Cards Styles
----------------------------------------------------------------------------------------*/
.product_specs.cards img.thb_img {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.product_specs.cards h3 {
  color: #000;
  text-transform: uppercase;
  margin: 0 0 5px;
  font-size: 1.5em; }

.product_specs.cards .new_tag {
  position: static;
  display: inline-block;
  margin: 16px 0 0 0;
  padding: 4px 10px; }

.product_specs.cards img.thb_img {
  width: 100%;
  height: auto;
  margin-top: 0px; }

/* Yotpo Review Widget Products Product Page
----------------------------------------------------------------------------------------*/
.yotpo .yotpo-first-review .yotpo-first-review-content {
  text-align: center;
  margin-bottom: 60px; }

.yotpo .text-m {
  font-size: 13px;
  display: none; }
