/* Text elements 
----------------------------------------------------------------------------------------*/
p {
  margin: 10px 0 10px 0; }

/* Headings 
----------------------------------------------------------------------------------------*/
h6 {
  font-family: Arial, sans-serif;
  font-size: 1em;
  /* 16px */ }

h7 {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  /* 20px */
  font-weight: bold;
  text-transform: uppercase; }

/* Home Page
----------------------------------------------------------------------------------------*/
header.featured_prod h1 {
  color: #fff;
  width: 520px;
  max-width: 90%;
  margin: 76px auto 138px;
  line-height: 1.05em; }

/* Outline Button Style
----------------------------------------------------------------------------------------*/
.block_btn {
  border: 2px solid #666;
  color: #666;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: .875em;
  padding: 6px 0;
  display: inline-block;
  width: 160px;
  font-weight: bold; }

/* S1 Genesis Product Page
----------------------------------------------------------------------------------------*/
.product_ads .ad_block.top_ad.s1 h3 {
  width: 41%;
  line-height: 1.2em;
  margin-bottom: 18px; }

/* Product Page Styles
----------------------------------------------------------------------------------------*/
.expander_info .divider {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  margin: 0 0 24px 0; }

.product_specs h2 {
  color: #000;
  margin: 26px 0 6px;
  line-height: 1.2em;
  font-size: 1.8em; }

.product_specs .product_cart h6 {
  text-transform: uppercase;
  font-size: .857em;
  color: #949494;
  margin-top: 10px; }

.product_specs.cards .callout_tag {
  position: static;
  display: inline-block;
  margin: 16px 0 0 0;
  padding: 4px 10px; }

.product_specs .callout_tag {
  position: absolute;
  top: -54px;
  background: url(../images/gray_tag.jpg) repeat-x left top, #b7b6b6;
  background-size: auto 100%;
  border-radius: 6px;
  padding: 10px 22px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: .8em; }

@media (max-width: 1000px) {
  .product_specs .new_tag {
    padding: 13px 20px;
    top: -70px; } }

@media (max-width: 680px) {
  .product_specs .new_tag {
    padding: 9px 14px;
    top: -62px; } }

.product_specs.not-for-sale .product_cart .price {
  width: 100%;
  text-align: center;
  padding-bottom: 10px; }

.product_specs .product_cart .email_submit {
  width: 75px; }

/* Product Cards Styles
----------------------------------------------------------------------------------------*/
.product_specs.cards img.thb_img {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.product_specs.cards h3 {
  color: #000;
  text-transform: uppercase;
  margin: 0 0 5px;
  font-size: 1.5em; }

.product_specs.cards .new_tag {
  position: static;
  display: inline-block;
  margin: 16px 0 15px 0;
  padding: 4px 10px; }

.product_specs.cards img.thb_img {
  width: 100%;
  height: auto;
  margin-top: 0px; }

.product_specs.cards .product_blk_titles {
  height: 90px;
  overflow: visible;
  z-index: 10;
  position: relative; }

/* Replacement Parts 
----------------------------------------------------------------------------------------*/
header.replacement_parts.about h2 {
  padding: 100px 24px 5px; }

/* Yotpo Review Widget Products Product Page
----------------------------------------------------------------------------------------*/
.yotpo .yotpo-first-review .yotpo-first-review-content {
  text-align: center;
  margin-bottom: 60px; }

.yotpo .text-m {
  font-size: 11px;
  padding-left: 5px;
  color: #858585;
  font-variant: all-petite-caps; }

/* Yotpo Review Page
----------------------------------------------------------------------------------------*/
.product_specs.warranty .yotpo-review-page {
  clear: both; }

/* Mobile Header Style Edits
----------------------------------------------------------------------------------------*/
header.featured_prod {
  clear: both;
  z-index: 2;
  position: relative; }
  @media (max-width: 580px) {
    header.featured_prod {
      height: 500px; } }
  header.featured_prod h1 {
    color: white;
    width: 520px;
    max-width: 90%;
    margin: 76px auto 138px;
    line-height: 1.0em; }
    @media (max-width: 580px) {
      header.featured_prod h1 {
        font-size: 2.1428em;
        /* 30px */
        line-height: 1.1em !important;
        max-width: 80% !important;
        margin: 15px auto 30px !important; } }
  header.featured_prod header.featured_prod.home h1 {
    max-width: 90%;
    width: 700px;
    margin: 24px auto; }
  header.featured_prod header.featured_prod.home .logo_img {
    width: 146px;
    margin: 20px auto 320px; }
  header.featured_prod header.featured_prod.home h2 {
    max-width: 90%;
    color: #0093E0;
    width: 500px;
    margin: 0px auto 0px; }
    @media (max-width: 680px) {
      header.featured_prod header.featured_prod.home h2 {
        margin-top: 0; } }
  header.featured_prod header.featured_prod.home .block_btn {
    border-color: white;
    color: white;
    margin: 0 12px 12px; }
  header.featured_prod header.featured_prod.home h1 {
    max-width: 90%;
    width: 700px;
    margin: 24px auto 35px; }
