


/* Text elements 
----------------------------------------------------------------------------------------*/

p {
	margin: 10px 0 10px 0;
}






/* Headings 
----------------------------------------------------------------------------------------*/

h6 {
	font-family: Arial, sans-serif;
	font-size: 1.25em; /* 16px */
}




/* Product Page Styles
----------------------------------------------------------------------------------------*/

	.expander_info .divider {
		border-bottom: 1px solid rgba(229, 229, 229, 1);
		width: 100%;
		margin: 0 0 24px 0;
}
