


/* Text elements 
----------------------------------------------------------------------------------------*/

p {
	margin: 10px 0 10px 0;
}



/* Headings 
----------------------------------------------------------------------------------------*/

h5 {
    font-family: Arial,sans-serif;
    font-size: 1.3em;
    font-weight: 300;
}

h6 {
	font-family: Arial, sans-serif;
	font-size: 1em; /* 16px */
}

h7 {
	font-family: Arial, sans-serif;
	font-size: 1.25em; /* 20px */
	font-weight: bold;
	text-transform: uppercase;
}


