---
layout: custom-category-custom-header
title: EGO Fishing Apparel
description: 
category_filter: 'ego-apparel'
category_class: 'ego-apparel'
custom_header_html: "<div><img class='header_bgd_img' src='/images/trout_net_background.jpg' alt='EGO Fishing Tools' />
                <img class='header_bgd_img_mobile' src='/images/trout_net_background_mobile.jpg' alt='EGO Fishing Tools' />
                <header class='trout_net'>
                    <div class='title_wrap'>
                        <h2>EGO Fishing Apparel</h2>
                        <h3>Look your best on the water with EGO Apparel.</h3> 
                    </div>
                </header></div>"
---

<div class="page_content">
    <header class="replacement_parts shorter">
        <div class="title_wrap">
            <h2>EGO Fishing Gear Replacement Parts</h2>
        </div>
    </header>


    <div class="content_wrapper clearfix">


        {% assign myproducts = site.apparel | sort: 'order_number' %}
        <div class="product_specs cards replacement">

            {% for product in myproducts %}
                <div class="product_card standard">
                    <h3>{{product.name}}</h3>
                    <h4>{{product.subheading}}</h4>

                    {% if product.tag_text and product.tag_text != blank %}
                        <div class="{{ product.tag_color }}">{{ product.tag_text }}</div>
                    {% endif %}

                    <div class="replacement_slider flexslider clearfix" id="replacement_slider_{{forloop.index}}">

                        <ul class="slides">

                            {% for slide in product.slides %}
                                <li class="ad_slide">
                                    <img class="thb_img" src="{{ slide.image }}" alt="{{ slide.title }}" />
                                </li>
                            {% endfor %}

                        </ul>

                        
                    </div><!-- .replacement_slider.flexslider -->



                    <div class="top clearfix">
                        <h5 class="price">${{product.price}}</h5>

                        {% include snipcart-button.html product=product text="<div class='cart_icon'></div>" %}

                        <a class="specs {% if product.replacement_video and product.replacement_video != blank %} play_btn {% endif %}" 
                            {% if product.replacement_video and product.replacement_video != blank %} href="{{product.replacement_video}}" {% else %}
                            href="{{product.replacement_link}}" {% endif %}
                        >
                            <label>{{product.repalcement_text}}</label>
                        </a>
                    </div>

                    <div class="bottom clearfix">
                        <h6>Item #{{product.sku}}</h6>
                    </div>
                </div>
            {% endfor %}

            <!-- <a href="#" class="block_btn">Load More Nets</a> -->
            <div class="clearfix"></div>

        </div><!-- .product_specs -->


        {% include other-products.html %}
    </div>
</div>