---
layout: default
title: EGO Fishing Gear Replacement Parts
description: 
custom_header_html: '<header class="replacement_parts shorter">
                    <div class="title_wrap">
                        <h2>EGO Fishing Gear Replacement Parts</h2>
                    </div>
                </header>'
---

<div class="page_content">
    <header class="replacement_parts shorter">
        <div class="title_wrap">
            <h2>EGO Fishing Gear Replacement Parts</h2>
        </div>
    </header>


    <div class="content_wrapper clearfix">

        <div class="filter_block replacement">

            <div class="block_btn">Part Selector Tool</div>

            <h4 class="filters">Filters</h4>

            <div class="options clearfix">

                <a class="filter_title bags" href="#">
                    <div class="selected_box selected"><h6>Mesh Bags</h6></div>
                </a>

                <a class="filter_title hoop" href="#">
                    <div class="selected_box white"><h6>Hoop Frames</h6></div>
                </a>

                <a class="filter_title parts" href="#">
                    <div class="selected_box white"><h6>Other Parts</h6></div>
                </a>

            </div>

        </div><!-- .filter_block -->


        <form action="" method="get">
            <div class="filter_expand bags length expanded">


                <div class="options clearfix">


                    <div class="column">

                        <div class="option">
                            <input type="checkbox" name="mesh_nylon" value="mesh_nylon" id="mesh_nylon">
                            <label for="mesh_nylon">Nylon<span></span></label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="mesh_ruber_coated_nylon" value="mesh_ruber_coated_nylon" id="mesh_ruber_coated_nylon">
                            <label for="mesh_ruber_coated_nylon">Rubber Coated Nylon<span></span></label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="mesh_pvc_coated_nylon" value="mesh_pvc_coated_nylon" id="mesh_pvc_coated_nylon">
                            <label for="mesh_pvc_coated_nylon">PVC Coated Nylon<span></span></label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="mesh_rubber" value="mesh_rubber" id="mesh_rubber">
                            <label for="mesh_rubber">Rubber<span></span></label>
                        </div>

                    </div>

                    <div class="column">

                        <div class="option">
                            <input type="checkbox" name="mesh_clear_rubber" value="mesh_clear_rubber" id="mesh_clear_rubber">
                            <label for="mesh_clear_rubber">Clear Rubber<span></span></label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="mesh_deep_rubber" value="mesh_deep_rubber" id="mesh_deep_rubber">
                            <label for="mesh_deep_rubber">Deep Rubber<span></span></label>
                        </div>

                        <div class="option">
                            <input type="checkbox" name="mesh_measure_net" value="mesh_measure_net" id="mesh_measure_net">
                            <label for="mesh_measure_net">Measure Net<span></span></label>
                        </div>

                    </div>


                </div>

            </div><!-- .filter_expand -->
        </form>


        {% assign myproducts = site.replacements | where: 'replacement_type', 'bags' | sort: 'order_number' | where: 'display_product', true %}
        {% assign myhoops = site.replacements | where: 'replacement_type', 'hoop' | sort: 'order_number' | where: 'display_product', true %}
        {% assign myother = site.replacements | where: 'replacement_type', 'other' | sort: 'order_number' | where: 'display_product', true %}
        <div class="product_specs cards replacement">

            {% for product in myproducts %}

                <div class="product_card bags {{product.filter_mesh}}  {% if product.forsale_online != true %} not-for-sale {% endif %}">
                    <div class="product_blk_titles">
                        <h3>{{product.name}}</h3>
                        <h4>{{product.subheading}}</h4>

                        {% if product.tag_text and product.tag_text != blank %}
                            <div class="{{ product.tag_color }}">{{ product.tag_text }}</div>
                        {% endif %}
                    </div>

                    <div class="replacement_slider flexslider clearfix" id="replacement_slider_{{forloop.index}}">

                        <ul class="slides">

                            {% for slide in product.slides %}
                                <li class="ad_slide">
                                    <img class="thb_img" src="{{ slide.image }}" alt="{{ slide.title }}" />
                                </li>
                            {% endfor %}

                        </ul>

                        
                    </div><!-- .replacement_slider.flexslider -->



                    <div class="top clearfix">
                        <h5 class="price">${{product.price}}</h5>

                        {% if product.forsale_online %}
                            {% include snipcart-button.html product=product text="<div class='cart_icon'></div>" %}
                        {% endif %}

                        <a class="specs {% if product.replacement_video and product.replacement_video != blank %} play_btn {% endif %}" 
                            {% if product.replacement_video and product.replacement_video != blank %} href="{{product.replacement_video}}" {% else %}
                            href="{{product.replacement_link}}" {% endif %}
                        >
                            <label>{{product.repalcement_text}}</label>
                        </a>
                    </div>

                    <div class="bottom clearfix">
                        <h6>Item #{{product.sku}}</h6>
                    </div>
                </div>
            {% endfor %}

            {% for product in myhoops %}
                <div class="product_card hoop">
                    <h3>{{product.name}}</h3>
                    <h4>{{product.subheading}}</h4>

                    {% if product.tag_text and product.tag_text != blank %}
                        <div class="{{ product.tag_color }}">{{ product.tag_text }}</div>
                    {% endif %}

                    <div class="replacement_slider flexslider clearfix" id="replacement_slider_{{forloop.index}}">

                        <ul class="slides">

                            {% for slide in product.slides %}
                                <li class="ad_slide">
                                    <img class="thb_img" src="{{ slide.image }}" alt="{{ slide.title }}" />
                                </li>
                            {% endfor %}

                        </ul>

                        
                    </div><!-- .replacement_slider.flexslider -->



                    <div class="top clearfix">
                        <h5 class="price">${{product.price}}</h5>

                        {% include snipcart-button.html product=product text="<div class='cart_icon'></div>" %}

                        <a class="specs {% if product.replacement_video and product.replacement_video != blank %} play_btn {% endif %}" 
                            {% if product.replacement_video and product.replacement_video != blank %} href="{{product.replacement_video}}" {% else %}
                            href="{{product.replacement_link}}" {% endif %}
                        >
                            <label>{{product.repalcement_text}}</label>
                        </a>
                    </div>

                    <div class="bottom clearfix">
                        <h6>Item #{{product.sku}}</h6>
                    </div>
                </div>
            {% endfor %}

            {% for product in myother %}
                <div class="product_card parts">
                    <h3>{{product.name}}</h3>
                    <h4>{{product.subheading}}</h4>

                    {% if product.tag_text and product.tag_text != blank %}
                        <div class="{{ product.tag_color }}">{{ product.tag_text }}</div>
                    {% endif %}

                    <div class="replacement_slider flexslider clearfix" id="replacement_slider_{{forloop.index}}">

                        <ul class="slides">

                            {% for slide in product.slides %}
                                <li class="ad_slide">
                                    <img class="thb_img" src="{{ slide.image }}" alt="{{ slide.title }}" />
                                </li>
                            {% endfor %}

                        </ul>

                        
                    </div><!-- .replacement_slider.flexslider -->



                    <div class="top clearfix">
                        <h5 class="price">${{product.price}}</h5>

                        {% include snipcart-button.html product=product text="<div class='cart_icon'></div>" %}

                        <a class="specs {% if product.replacement_video and product.replacement_video != blank %} play_btn {% endif %}" 
                            {% if product.replacement_video and product.replacement_video != blank %} href="{{product.replacement_video}}" {% else %}
                            href="{{product.replacement_link}}" {% endif %}
                        >
                            <label>{{product.repalcement_text}}</label>
                        </a>
                    </div>

                    <div class="bottom clearfix">
                        <h6>Item #{{product.sku}}</h6>
                    </div>
                </div>
            {% endfor %}

            <!-- <a href="#" class="block_btn">Load More Nets</a> -->
            <div class="clearfix"></div>

        </div><!-- .product_specs -->


        {% include other-products.html %}
    </div>
</div>