{% assign colors = "" %}
{% for style in include.product.styles %}
    {% assign colors = colors | append: '|' | append: style.name %}
{% endfor %}
{% assign colors = colors | remove_first: '|' %}

{% assign myoptions = "" %}
{% for option in include.product.options %}
    {% assign myoptions = myoptions | append: '|' | append: option.name %}

    {% if option.adjustment != '0.00' and option.adjustment != 0.0 %}
        {% assign myoptions = myoptions | append: '[' | append: option.adjustment | append: ']' %}
    {% endif %}
{% endfor %}
{% assign myoptions = myoptions | remove_first: '|' %}


<button class="email_submit add-to-cart-trigger-btn snipcart-add-item {% if include.class %} {{include.class}} {% endif %}"
    data-item-name="{{ include.product.name }}"
    data-item-id="{{ include.product.sku }}"
    {% if include.product.shipping_weight and include.product.shipping_weight != blank and include.product.shipping_weight != 0 %}
        data-item-weight="{{ include.product.shipping_weight }}"
    {% endif %}
    {% if include.product.shipping_height and include.product.shipping_height != blank and include.product.shipping_height != 0 %}
        data-item-height="{{ include.product.shipping_height }}"
    {% endif %}
    {% if include.product.shipping_width and include.product.shipping_width != blank and include.product.shipping_width != 0 %}
        data-item-width="{{ include.product.shipping_width }}"
    {% endif %}
    {% if include.product.shipping_length and include.product.shipping_length != blank and include.product.shipping_length != 0 %}
        data-item-length="{{ include.product.shipping_length }}"
    {% endif %}
    data-item-image="{{ include.product.slides.first.image }}"
    data-item-description="{{ include.product.subheading }}"
    {% if include.product.options and include.product.options.size > 0 and include.product.options[0].name and include.product.options[0].name != blank %}
        data-item-custom1-name="Option"
        data-item-custom1-options="{{ myoptions }}"
        data-item-custom1-value="{{ include.product.options[0].name }}"
    {% endif %}
    {%if include.product.sizes %}
    data-item-custom2-name="Size"
    data-item-custom2-options="{{ include.product.sizes | join: '|' }}"
    data-item-custom2-value="Medium"
    {% endif %}
    {% if colors != '' %}
        data-item-custom3-name="Color"
        data-item-custom3-options="{{ colors }}"
    {% endif %}
    data-item-url="{{ include.product.url }}"
    data-item-price="{{ include.product.price }}"
    data-item-quantity="1"
>
    {% if include.text %}{{ include.text }}{% endif %}
</button>
