---
layout: default
---

<div class="page_content">
    <img class="featured_prod" src="{{page.hero_image_desktop_image}}" alt="{{page.name}}" />
    <img class="featured_prod_img_mobile" src="{{page.hero_image_mobile_image}}" alt="{{page.name}}" />

    <header class="featured_prod {%if page.category_class != blank %} {{page.category_class}} {% endif %}">
        <div class="title_wrap">
            {% if page.logo_location != "after" %}
            <div class="logo_img">
                <img src="{{page.category_header_image}}" alt="{{page.title}}" />
            </div>
            {% endif %}
            <h1>{{page.h1}}</h1>
            {% if page.header_video_url and page.header_video_url != "" and page.header_video_url != nil %}
                <a href="{{page.header_video_url}}" class="play_btn">
                    <img src="/images/video_play.png" alt="Play Video" />
                </a>
            {% endif %}
            {% if page.logo_location == "after" %}
            <div class="logo_img">
                <img src="{{page.category_header_image}}" alt="{{page.title}}" />
            </div>
            {% endif %}
        </div>
    </header>

    <div class="content_wrapper clearfix">

        {{ content }}
        

        {% assign myproducts = site.products | where: 'categories', page.category_filter | sort: 'order_number' | where: 'display_product', true %}
        {% include category-listing.html myproducts=myproducts product_specs_class=page.product_specs_class %}

        {% include other-products.html %}
    </div>


